<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <form action="/submit-contact" method="GET">
        <label for="contact_name">Contact Name</label>
        <input type="text" name="contact_name"/>
        <br>
        <label for="contact_email">Contact Email</label>
        <input type="text" name="contact_email"/>
        <br>
        <label for="contact_msg">Contact Message</label>
        <input type="text" name="contact_msg"/>
        <br>
        <input type="submit" value="submit">
    </form>
</body>
</html>